{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}Pizza CA{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<form role="form" action="" method="POST">
    {% csrf_token %}
    {{ f|crispy }}
			<p>
				<a href="{% url 'ca:subca_search' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
				<button name="guardar" value="guardar" type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
			</p>
		</form>
	</div>
</div>
{% endblock %}
