{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}


{% block content %}
<div class="row">
	<div class="col-md-12">
	<p>&nbsp;</p>
	</div>
</div>
{% for ca in objects_page %}
<div class="row">
  <div class="col-md-12">
    <div class="card card-outline-info">
      <h3 class="card-header"><i class="fa fa-id-card-o"></i>
         {{ ca.CN }}</h3>
      <div class="card-block">
        <p class="card-text">
         {% trans 'Organization' %}: <strong>{{ ca.O }}</strong><br/>
          {% trans 'Organizational unit' %}: <strong>{{ ca.OU }}</strong><br/>
          {% trans 'Country' %}: <strong>{{ ca.get_C_display }}</strong><br/>
          {% trans 'Not before' %}: <strong>{{ ca.not_before|date:'l d F Y H:i:s e' }}</strong><br/>
          {% trans 'Not after' %}: <strong>{{ ca.not_after|date:'l d F Y H:i:s e' }}</strong><br/>


          {% if ca.sub_cas.all %}
            <h3>{% trans 'Intermediates' %}</h3>
            <ul class="list-unstyled">
            {% for sub in ca.sub_cas.all %}
              <li>
                          <h4>{{ sub.CN }}</h4>
                          <ul>
                              <li>Organizational unit: <strong>{{ sub.OU }}</strong></li>
                              <li>Kind: <strong>{{ sub.get_kind_display }}</strong></li>
                              <li>Not before: <strong>{{ sub.not_before|date:'l d F Y H:i:s e' }}</strong></li>
                              <li>Not after: <strong>{{ sub.not_after|date:'l d F Y H:i:s e' }}</strong></li>
                          </ul>
                      </li>
            {% endfor %}
            </ul>
          {% endif %}

        </p>
        <div class="pull-right">
          <a href="{% url 'pubsite:bundle' ca.pk %}" role="button" class="btn btn-primary btn-sm"><i class="fa fa-download"></i> {% trans 'Get bundle' %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% include 'paginator.html' %}
{% endblock %}
