{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}Pizza CA{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
      <form role="form" method="GET" action="">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" id="search" name="q" value="{{ query }}">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-secondary"><span class="fa fa-search"></span></button>
          </span>

        </div>
      </form>
    </div>
</div>
<div class="row">
	<div class="col-md-12">
	<p>&nbsp;</p>
	</div>
</div>
{% for id in objects_page %}
<div class="row">
  <div class="col-md-12">
    {% if id.status == 'new' %}
    <div class="card card-outline-secondary">
      <h3 class="card-header"><i class="fa fa-file-o"></i>
         {{ id.CN }}</h3>
    {% elif id.status == 'active' %}
    <div class="card card-outline-success">
      <h3 class="card-header"><i class="fa fa-check-circle-o"></i>
         {{ id.CN }}</h3>
    {% else %}
    <div class="card card-outline-danger">
      <h3 class="card-header"><i class="fa fa-flag-o"></i>
         {{ id.CN }}</h3>
    {% endif %}
      <div class="card-block">
        <p class="card-text">
          {% trans 'Issuer' %}: <strong>{{ id.issuer }}</strong><br/>
          {% trans 'Email' %}: <strong>{{ id.E|default_if_none:'' }}</strong><br/>
          {% trans 'Organization' %}: <strong>{{ id.O }}</strong><br/>
          {% if id.OU %}
          {% trans 'Organizational unit' %}: <strong>{{ id.OU }}</strong><br/>
          {% endif %}
          {% trans 'Locality' %}: <strong>{{ id.L }}</strong><br/>
          {% trans 'State or province' %}: <strong>{{ id.ST }}</strong><br/>
          {% trans 'Country' %}: <strong>{{ id.country }}</strong><br/>
          {% if id.status == 'active' %}
          {% trans 'Not before' %}: <strong>{{ id.not_before|date:'l d F Y H:i:s' }}</strong><br/>
          {% trans 'Not after' %}: <strong>{{ id.not_after|date:'l d F Y H:i:s' }}</strong><br/>
          {% elif id.status == 'revoked' %}
          {% trans 'Revoked on' %}: <strong>{{ id.revoked_on|date:'l d F Y H:i:s' }} - ({{ id.crl_reason }})</strong><br/>
          {% endif %}
        </p>
        <div class="pull-right">
          <a href="{% url 'certs:download_srv_pem' id.pk %}" role="button" class="btn btn-primary btn-sm"><i class="fa fa-cog"></i> {% trans 'Download' %}</a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endfor %}
{% include 'paginator.html' %}
{% endblock %}
